@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Roboto');

$taskboard-bg-color: #1D3F2E;
$task-bg-color: #1B181B;
$task-hover-color: #403940;
$overlay-color: #673D67;
$complete-color: #48C481;
$incomplete-color: #695D64;

$board-font: 'Fjalla One', sans-serif;
$task-font: 'Roboto', sans-serif;

* {

	box-sizing: border-box;

}

html, body {
	
	padding: 0;
	margin: 0;
	
	height: 100%;
	
	background: #655A60;
	
}

.board {
	
	margin: auto;
	
	display: flex;
	
	flex-flow: column nowrap;
	
	height: 100%;
	
	background: url("mountain.png");
	background-size: auto 100%;
	
	color: white;
	
	font-family: $board-font;
	
	max-width: 730px;
	
	.board-header {
		
		display: flex;
		
		height: 10vh;
		
		align-items: center;
		justify-content: space-between;
		//align-content: space-between;
		
		padding: 0 10px;
		
		background: $taskboard-bg-color;
		opacity: 0.8;
		
	}
	
	.board-body {
		
		display: flex;
		
		flex-flow: column nowrap;
		
		height: 90vh;
		
		background: rgba(70,47,61, 0.55);
		
		overflow: auto;
		
	}
	
}

.task {
	
	display: flex;
	flex-flow: row nowrap;
	
	justify-content: space-between;
	align-content: center;
	align-items: center;
	
	position: relative;
	
	width: 100%;
	
	background: $task-bg-color;
	opacity: 0.9;
	
	margin-bottom: 10px;
	padding: 10px;
	
	font-family: $task-font;
	font-size: 18px;
	line-height: 30px;
	
	cursor: pointer;
	user-select: none;
	
	transition: 0.2s;
	
	&:hover {
		
		background: $task-hover-color;
		
	}
	
	.task-body {
		
		display: flex;
		
		flex-flow: column nowrap;
		
		justify-content: center;
		
		padding: 10px;
		
	}
	
	.task-marker {
		
		display: flex;
		
		font-size: 250%;
		
		.incomplete {
			
			color: $incomplete-color;
			opacity: 0.3;
			
		}
		
		.complete {
			
			color: $complete-color;
			
		}
		
		
	}
	
}

#homeView {
	
	display: flex;
	
	flex-flow: column nowrap;
	justify-content: space-around;
	
	min-height: 100%;
	
}

#progressDisk {
	
	display: block;
	
	height: 100%;
	
	position: relative;
	width: 100%;
	z-index: 1;
	
	background: blue;
	
	//padding: 20px;
	
	#disk {
		
		display: flex;
		
		flex-flow: column nowrap;
		
		justify-content: center;
		align-items: center;
		
		background: green;
		
		height: 100%;
		
		position: absolute;
		
		width: 100%;
		
		//background: red;
		
		z-index: 999;
		
	}
	
	#progress {
		
		display: flex;
		
		flex-flow: column nowrap;
		
		justify-content: center;
		align-items: center;
		
		height: 100%;
		
		position: absolute;
		
		width: 100%;
		
		background: red;
		
		z-index: 999;
		
		font-size: 300%;
		
	}
	
}

.navButton {
	
	display: flex;
	
	flex-flow: column;
	justify-content: center;
	align-items: center;
	
	color: white;
	
	border-radius: 50%;
	
	font-size: 250%;
	
}

.placer {
	
	min-width: 40px;
	
}

